.album {
    &_thumnail {
        & > img {
            border-radius: 0.5rem;
            width: 190px;
        }
    }

    &_name {
        font-weight: bold;
        max-width: 190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}